services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: galaxy_user
      POSTGRES_PASSWORD: galaxy_password
      POSTGRES_DB: galaxy_empire
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
